
/.vs/*
/CustomerAPI/obj/*
CustomerAPI/obj/*
CustomerAPI.Tests/obj/*
CustomerAPI/obj/*

CustomerAPI/obj/project.nuget.cache
CustomerAPI/obj/project.assets.json
.vs/CustomerAPI/v16/.suo
CustomerAPI/obj/Debug/net5.0/CustomerAPI.assets.cache
CustomerAPI/obj/CustomerAPI.csproj.nuget.dgspec.json
.vs/*
CustomerAPI.Entities/obj/*
CustomerAPI.Logic/obj/*
CustomerAPI.Data/obj/*
CustomerAPI.Data/bin/*
CustomerAPI/bin/*
CustomerAPI/obj/*
CustomerAPI.Entities/bin/*
CustomerAPI/obj/*
